
@{
    ViewBag.Title = "Register";
}

<div class="col-md-4">
    <div class="card shadow p-4">

        <h3 class="text-center mb-4">Register</h3>

        <form method="post" action="/Account/Register">

           <div class="mb-3">
                <input type="email" name="email" class="form-control" placeholder="Email" required>
            </div>

            <div class="mb-3">
                <input type="password" name="password" class="form-control" placeholder="Password" required>
            </div>

            <button class="btn btn-success w-100">Register</button>

            <p style="color:red">@ViewBag.Message</p>


        </form>
    </div>
</div>


