
@{
    ViewBag.Title = "ResetPassword";
}

<div class="col-md-4">
    <div class="card shadow p-4">

        <h3 class="text-center mb-4">Reset Password</h3>

        <form method="post" action="/Account/ResetPassword">

            <div class="mb-3">
                <input type="password" name="newPassword" class="form-control" placeholder="New Password" required>
            </div>

            <div class="mb-3">
                <input type="password" name="confirmPassword" class="form-control" placeholder="Confirm Password" required>
            </div>

            <button class="btn btn-danger w-100">Reset Password</button>

        </form>
    </div>
</div>

